p::selection{
      color:red;
      background-color: yellow;
}
@media print {
        .screen-only{
            display:none;
        }
}
p{
    margin-left: 20px;
    margin-top: 50px;
    font-size: 20px;
}
#top {
    font-size: 25px;
    text-align: center;
    background-color: blue;
    color: white;
}
#top::selection {
        color: red;
        background-color: yellow;
}
